*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    position: relative;
}

header{
    background-color: #009688;
    width: 100vw;
    height: 12vh;
}
main{
    background-color: #dadbd3; 
    width: 100vw;
    height: calc(100vh - 12vh);
}

.main-wrapper{
    position: absolute;
    background-color: #eaeaea;
    top: 5vh;
    left: 10vw;
    width: 80vw;
    height: 90vh;
}